<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light"> <!-- Updated classes for a lighter navbar -->
    <div class="container-fluid">
        <a class="navbar-brand" href="/">The Look</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Cart</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<h2>Product List</h2>
<div class="container mt-4">
    <div class="row">
        <div th:each="product : ${products}" class="col-md-4 mb-4">
            <div class="card h-100">
                <img th:src="${product.image}" class="card-img-top" alt="Product Image" style="object-fit: cover; height: 200px;">
                <div class="card-body">
                    <h5 class="card-title" th:text="${product.name}">Product Name</h5>
                    <p class="card-text" th:text="${product.description}">Product Description</p>
                    <p class="card-text">Price: <strong th:text="${product.price}">Product Price</strong></p>
                </div>
                <div class="card-footer bg-transparent">
                    <form th:action="@{/add-to-cart}" method="post">
                        <input type="hidden" name="productId" th:value="${product.id}" />
                        <input type="hidden" name="quantity" value="1" />
                        <input type="submit" value="Add to Cart" />
                    </form>
                    <a th:href="@{/product-detail/{id}(id=${product.id})}" class="btn btn-outline-primary">View Details</a>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
